name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2.1.4
        with:
          node-version: '14.x'
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn format:check
      - run: yarn lint
